x-common-config: &common-config
  build:
    context: .
    dockerfile: Dockerfile
  volumes:
    - /home/peijh/.nanobot:/root/.nanobot
  environment:
      # 方案 B (最通用)：通过环境变量指定北京时间
      - TZ=Asia/Shanghai
services:
  nanobot-gateway:
    container_name: nanobot-gateway
    <<: *common-config
    command: ["gateway"]
    restart: unless-stopped
    ports:
      - 18790:18790
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2G
        reservations:
          cpus: '1'
          memory: 1G
  
  nanobot-cli:
    <<: *common-config
    profiles:
      - cli
    command: ["status"]
    stdin_open: true
    tty: true
